*{
    padding: 0;
    margin : 0;
    box-sizing: 0;

}
header{
    
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(trip2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;   
    font-family: sans-serif;

}
nav{
    width: 100%;
    height: 100px;
    color: white;
    display : flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2en;
    letter-spacing: 2px;
    font-size: 40px;

}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px ;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid #db0001;
    transition: 0.4s linear;
}
.menu a:hover:before{
    width:90%;
}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px ;
    background: #db0001;
    border-radius: 8px;
    transition: 0.4s;

}
.register a:hover{
    background: transparent;
    border: 1px solid #db0001;
}
.h-txt{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.h-txt span{
    letter-spacing: 5px;
}

.h-txt h1{
    font-size: 3.5em;
}
.h-txt a{
    text-decoration: none;
    background: #db0001;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.4s;
}
.h-txt a:hover{
    background: transparent;
    border: 1px solid #db0001;
}